#python 3.9

numpy==1.23.2
pandas 
jupyterlab 
matplotlib 
plotly 
scikit-learn 
scipy
statsmodels
missingno 
seaborn 
imblearn
pytz
tqdm
opencv-python
tensorflow==2.10.1
tensorflow-hub==0.12.0
xgboost
#cupy
